@import url('./fonts/stylesheet.css');

body {
    overflow-x: hidden;
    margin: 0;
    cursor: url('./images/cursor.png') 10 10, auto;
}

a:focus,
  button:focus {
    outline: none;
}  

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #00e0d0;
    border-radius: 10px;
}
  
body::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

a {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
    text-decoration: none;
    margin: 5px 10px;
}

a:hover {
    color: #00e0d0;
    transition: .3s;
}

h2 {
    text-align: center;
    color: aliceblue;
    margin-top: 7%;
    font-family: 'playfair_displayblack';
}

h3 {
    font-size: 1.375rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-family: 'playfair_displaybold';
    color: rgb(121, 121, 121);
}

h4:nth-child(2) {
    margin-right: 33.5%;
}

p {
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'robotolight';
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

#loading-checkbox {
    display: none;
}

#loading-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#scroll-to-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00e0d0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

#scroll-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #00e0d0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

#scroll-to-top img,
#scroll-to-bottom img {
    width: 30px;
    height: 30px;
}

#scroll-to-top img {
    margin-top: -5px;
}

#scroll-to-top {
    z-index: 1;
}

#scroll-to-bottom {
    z-index: 2;
}


#scroll-to-top:hover,
#scroll-to-bottom:hover {
    opacity: 1;
}

.overlay {
    position: relative;
    background: linear-gradient(to right, rgba(15, 15, 48, 0.8), rgba(95, 66, 174, 0.6)), url(./images/homebg.jpg);
    width: 100%;
    height: 670px;
}

.logo {
    padding-bottom: 20px;
    margin-left: 10%;
    margin-top: 15px;
}

.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(15, 15, 48, 0.8), rgba(95, 66, 174, 0.6)), url(./images/homebg.jpg);
    font-family: 'hammersmith_oneregular';
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2;
}

.logo {
    padding: 5px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.nav-links a:hover {
    background-color: #00e0d0;
}

.content {
    margin-top: 60px;
    padding: 20px;
    box-sizing: border-box;
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line {
    height: 1px;
    width: 127px;
    margin: 20px auto;
    background: #00e0d0;
}

.home_btn {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.btn {
    border: 1px solid #00e0d0;
    background-color: transparent;
    padding: 9px 30px;
    font-size: 20px;
    color: #00e0d0;
    font-family: 'hammersmith_oneregular';
}

.btn:hover {
    background-color: #00e0d0;
    transition: .4s;
    color: #fff;
}

.owl {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.owl_dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    transform: rotate(45deg);
    margin: 5px 7px;
}

.owl_dot:hover {
    background-color: #00e0d0;
    transition: .3s;
}

#about {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.img_about {
    margin-left: 20%;
    margin-top: 3%;
    position: relative;
    transition: background .5s ease;
}

.img_about:hover {
    background: linear-gradient(to right, rgba(15, 15, 48, 0.8), rgba(95, 66, 174, 0.6));
    background-size: cover;
}

.about_title {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.about_text {
    text-align: left;
    color: rgb(121, 121, 121);
    font-family: 'robotolight';
    font-weight: 300;
    margin: 0;
}

.about_btn {
    align-self: flex-start;
    margin-top: 15px;
}

#expertise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.expertise_overlay {
    background: linear-gradient(to right, rgba(15, 15, 48, 0.8), rgba(95, 66, 174, 0.6)), url(./images/videobg.jpg);
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon_img {
    width: 50%;
    height: auto;
}

.title {
    font-family: 'playfair_displaybold';
    color: #000000;
    text-align: center;
}

.expertise_content {
    text-align: center;
}

.expertise_title {
    font-family: 'robotolight';
    color: #fff;
}

.title {
    font-family: 'playfair_displaybold';
    color: #000000;
}

.teams_text {
    display: flex;
    justify-content: center;
    color: rgb(121, 121, 121);
    font-family: 'playfair_displayregular';
    white-space: nowrap;
}

.teams_line {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70px;
    height: 3px;
    background-color: rgb(121, 121, 121);
}

.teams_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams_icons {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.icons {
    text-align: center;
}

.img_icon {
    width: 50px;
    height: 50px;
}

.title_icon {
    font-family: 'robotoblack';
    margin: 10px 0;
    margin-left: 33%;
    white-space: nowrap;
}

.icons:first-child .title_icon,
.icons:nth-child(4) .title_icon {
    margin-left: 25%;
}

.text_icon {
    color: rgb(121, 121, 121);
    margin: 10px 0;
    line-height: 1.3;
    max-height: 4.5em;
    overflow: hidden;
    margin: 0 auto;
}

.divider_line {
    width: 90%;
    height: 1px;
    background-color: rgb(121, 121, 121);
    margin: 10px 0;
}

.icon_lines {
    margin-top: 20%;
    position: absolute;
    width: 43%;
    height: 1px;
    background-color: rgb(121, 121, 121);
    transform: rotate(90deg);
    margin-left: 10%;
    overflow: hidden;
}

.icon_lines:nth-child(2) {
    margin-top: 20%;
    position: absolute;
    width: 43%;
    height: 1px;
    background-color: rgb(121, 121, 121);
    transform: rotate(90deg);
    margin-left: 38%;
    overflow: hidden;
}

.works_images {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.works_images:nth-child(2) {
    margin-top: 0;
}

.img_works {
    width: 253px;
    height: 200px;
    transition: filter 0.3s ease-in-out;
}

.img_works:hover {
    filter: blur(5px);
}

.about_btn:nth-child(3){
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.people_overlay {
    margin-top: 5%;
    background: linear-gradient(to right, rgba(15, 15, 48, 0.8), rgba(95, 66, 174, 0.6)), url(./images/teambg.jpg);
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.people_content {
    text-align: center;
    position: relative;
}

.comma {
    width: 30px;
    height: 30px;
}

.people_text {
    margin-top: 3%;
    font-family: 'playfair_displaybold';
    margin-bottom: 20px;
}

.people_title {
    font-family: 'robotolight';
    color: aliceblue;
}

.name_text {
    font-size: small;
}

.carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.people {
    background-color: transparent;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.people:hover {
    filter: blur(5px);
}

.arrow {
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin: 10px 0;
    width: 30px;
    height: 30px;
}

.arrow:first-child {
    margin-right: 25%;
}

.slide-input {
    display: none;
}

.slide-input + label {
    margin-right: 60.5%;
    margin-top: -2%;
    position: absolute;
    top: 50%;
    font-size: 0;
    cursor: pointer;
    z-index: 1;
}

#slide1 + label {
    left: 0;
}

#slide2 + label,
#slide3 + label {
    right: 0;
}

.next-arrow {
    transform: rotate(0deg);
}

#slide1:checked ~ .images {
    transform: translateX(0%);
}

#slide2:checked ~ .images {
    transform: translateX(-100%);
}

#slide3:checked ~ .images {
    transform: translateX(-200%);
}

#slide1:checked ~ .images #test1,
#slide2:checked ~ .images #test2,
#slide3:checked ~ .images #test3 {
    order: 0;
}

#slide1:checked ~ .images #test2,
#slide2:checked ~ .images #test3,
#slide3:checked ~ .images #test1 {
    order: 1;
}

#slide1:checked ~ .images #test3,
#slide2:checked ~ .images #test1,
#slide3:checked ~ .images #test2 {
    order: 2;
}

#footer {
    background-color: transparent;
}

.contact_title {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-left: 14.5%;
    font-size: larger;
}

.input_container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input {
    margin-top: 10px;
    margin-left: 20%;
    padding: 10px;
    font-size: inherit;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 550px;
    text-align: left;
}

input:last-child {
    height: 200px;
    text-align: left;
    vertical-align: top;
}

input:hover {
    border-color: #00e0d0;
    box-shadow: 0 0 5px rgba(0, 224, 208, 0.5);
}

input:focus {
    border-color: #00e0d0;
    box-shadow: 0 0 10px rgba(0, 224, 208, 0.8);
}

.contact_btn {
    border: 1px solid #00e0d0;
    background-color: transparent;
    padding: 9px 30px;
    font-size: 20px;
    color: #00e0d0;
    font-family: 'hammersmith_oneregular';
    text-decoration: none;
    display: inline-block;
    margin-top: 3%;
    margin-left: 13%;
}

.contact_btn:hover {
    background-color: #00e0d0;
    transition: .4s;
    color: #fff;
}

.contact {
    display: flex;
    justify-content: space-around;
}

.contact img {
    display: flex;
    margin-bottom: 20%;
}

.contact_imgs {
    display: flex;
    flex-direction: column;
    max-width: 10%;
    margin-top: 1.5%;
}

.contact_imgs .contact {
    margin-bottom: 10px;
    transition: opacity 0.3s ease-in-out;
}

.contact_imgs .contact:hover {
    opacity: 0.7;
}